.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(135deg, #282c34, #3e4a59);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

input, select {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background: linear-gradient(135deg, #61dafb, #21a1f1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #21a1f1, #61dafb);
}

table {
  width: 90%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #444;
  color: #fff;
}

td {
  background-color: #fff;
  color: #333;
}

td button {
  margin: 0 5px;
}