.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(135deg, #282c34, #3e4a59);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.input-group {
  margin: 15px 0;
  width: 300px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #fff;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #61dafb;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #61dafb;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

select {
  margin: 10px;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 240px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658c-.566-.667-.106-1.658.753-1.658h10.592c.86 0 1.32.99.754 1.658l-4.796 5.482c-.566.667-1.48.667-2.047 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 16px 16px;
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  color: white;
  background: linear-gradient(135deg, #61dafb, #21a1f1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: linear-gradient(135deg, #21a1f1, #61dafb);
}

p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}